@font-face {
    font-family: 'TitleFont';
    src: url('fonts/KiwiSoda.ttf') format('truetype')
}

@font-face {
    font-family: 'Alt-TitleFont';
    src: url('fonts/Daydream.otf') format('opentype')
}

@font-face {
    font-family: 'MenuFont';
    src: url('fonts/Code.ttf') format('truetype')
}

*{
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-top: 5%;
    margin-bottom: 1%;
    
    font-family: 'TitleFont';
    font-size: 6rem;
    letter-spacing: 12px;
    
    user-select: none;    
}

#logo-box {
    
}

#logo-text {
    position: relative;
    text-align: center;
    background: linear-gradient(to top, red, yellow); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 100%;

    filter: drop-shadow(-10px 8px blue);
}

#intro-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 60%;
    margin: 5% auto;   
    padding: 20px 40px;

    background: linear-gradient(
        to right bottom,
        rgb(111, 147, 153) 0%,
        rgb(131, 214, 226) 25%,
        rgb(196, 214, 218) 50%,
        rgb(131, 214, 226) 75%,
        rgb(111, 147, 153) 100%
    );

    border-radius: 12px;
    border: 2px solid rgba(178, 205, 216, 0.521);

    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.219);

    user-select: none;
}

#intro-text {
    margin-top: 0.5rem;
    margin-bottom: 0px;
    text-align: center;
    max-width: fit-content;
    font-family: 'MenuFont';
    font-size: 1.4rem;
    line-height: 2rem;

    text-shadow: -2px 2px 2px rgb(255, 255, 255);

    -webkit-text-stroke: 0.2px black;

}

#creators-text {
    margin: 0.1rem;
    text-align: center;
    max-width: fit-content;
    font-family: 'MenuFont';
    font-size: 1.1rem;
    line-height: 1.4rem;

    text-shadow: -2px 2px 2px rgb(255, 255, 255);

    -webkit-text-stroke: 0.2px black;
}
#start-button {
    display: block;
    width: fit-content;
    margin-top: 5%;
    margin-bottom: 6%;
    padding: 10px 40px;
    text-align: center;
    font-family: 'MenuFont';
    font-size: 32px;
    color: rgb(233, 190, 82);
    text-shadow: -2px 2px 2px black;
    
    background: linear-gradient(
        to right bottom,
        rgba(12, 187, 218, 0.822),
        rgb(176, 222, 230),
        rgba(12, 187, 218, 0.822)
    );

    border-radius: 12px;
    border: 2px solid rgba(167, 201, 207, 0.63);

    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.39);

    user-select: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 100; }
}

.content-fade-in {
    animation: fadeIn 2.5s forwards;
}

@keyframes fadeOut {
    from { opacity: 100; }
    to { opacity: 0; }
}

.content-fade-out {
    animation: fadeOut 0.3s forwards;
}

#category-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



#title-text {
    margin-top: 0.5rem;
    margin-bottom: 0px;
    text-align: center;
    max-width: fit-content;
    font-family: 'TitleFont';
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.5rem;

}